.question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 var(--space-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: auto;
  z-index: 3;
  overflow-wrap: break-word;
}
.questionHidden {
  opacity: 0;
  pointer-events: none;
}
.error {
  text-shadow: none;
  color: var(--yellow);
  padding-top: var(--space-xs);
  font-size: 16px;
  position: relative;
  z-index: 3;
}
.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  align-items: center;
  justify-content: center;
  width: 75%;
  max-width: 600px;
}
.questions {
  position: relative;
  min-height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  gap: var(--space-xs);
}
.legend,
.value {
  position: relative;
  z-index: 3;
  font-size: 28px;
  width: 100%;
  color: var(--yellow);
  overflow-wrap: break-word;
}
.legend {
  font-size: 32px;
  color: white;
  overflow-wrap: break-word;
}
.value {
  padding: var(--space-xs) 0;
}
.submittedValue {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
