.question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: auto;
  z-index: 3;
}
.questionHidden {
  opacity: 0;
  pointer-events: none;
}
.error {
  text-shadow: none;
  color: var(--yellow);
  padding-top: 0.75rem;
  font-size: 16px;
  position: relative;
  z-index: 3;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
}
.questions {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  gap: 0.75rem;
}
.legend,
.value {
  position: relative;
  z-index: 3;
  font-size: 28px;
  width: 100%;
  color: var(--yellow);
}
.legend {
  font-size: 32px;
  color: white;
}
.value {
  padding: 0.75rem 0;
}
.submittedValue {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
