.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  z-index: 10;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  width: 100%;
}

.columns {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: start;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.actions {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  overflow-y: auto;
  max-height: 400px;
}

.item {
  display: flex;
  gap: 12px;
  align-items: end;
  width: 100%;
}

.helpText {
  font-size: 16px;
  color: var(--yellow);
  padding-top: 24px;
}

.additionalDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.error {
  text-shadow: none;
  color: var(--yellow);
  padding-top: 12px;
  font-size: 16px;
}
