.root {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.right,
.left {
  padding: 12px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 600px;
}

.actions {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  overflow-y: auto;
  max-height: 400px;
}

.item {
  display: flex;
  gap: 12px;
  align-items: end;

  width: 100%;
}

.helpText {
  font-size: 16px;
  color: var(--yellow);
  padding-top: 24px;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 600px;
}

.additionalDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.error {
  text-shadow: none;
  color: var(--yellow);
  padding-top: 12px;
  font-size: 16px;
}
