.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  overflow-y: auto;
  max-height: 400px;
}

.item {
  display: flex;
  gap: 12px;
  align-items: end;

  width: 100%;
}
