.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  align-items: center;

  overflow-y: auto;
  max-height: 400px;
}

.item {
  display: flex;
  gap: 0.75rem;
  align-items: end;

  width: 100%;
}
