.root {
  width: 100%;
  min-height: calc(100dvh - var(--nav-h));
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 9.25rem 1rem 1rem;
}

.container {
  width: 100%;
  max-width: 800px;
}
