.root {
  width: 100%;
  min-height: calc(100dvh - var(--nav-h));
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 9.25rem var(--space-sm) var(--space-sm);
}

.container {
  width: 100%;
  max-width: 800px;
}
