.root {
  width: 100%;
  min-height: calc(100dvh - var(--nav-h));
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 148px 16px 16px;
}

.container {
  width: 100%;
  max-width: 800px;
}
