.root {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  width: 100%;

  font-size: 1.25rem;
  font-weight: 600;
  color: hsl(var(--foreground));
}

.input {
  z-index: 3;
  position: relative;
  font-size: 1rem;
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  border: 1px solid hsl(var(--border));
  padding: 0.25rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: border-color 0.2s ease;
}
.input:hover {
  border-color: hsl(var(--ring));
}

.labelText {
  color: hsl(var(--foreground));
}
