<div class="app">
  <div class="tv-static" ></div>
  <%= form_with(url: admin_sign_in_path, data: { turbo: 'false' }, class: 'passwordless-form') do |f| %>
    <%= f.label :email,
        t("passwordless.sessions.new.email.label"),
        for: "email" %>
    <%= email_field_tag :email,
        params.fetch(:email, nil),
        required: true,
        autofocus: true,
        placeholder: t("passwordless.sessions.new.email.placeholder") %>
    <%= f.submit t("passwordless.sessions.new.submit") %>
  <% end %>
</div>
