.questions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.questionHidden {
  display: none;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}
