.questions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.questionHidden {
  display: none;
}

.actions {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}
