.option {
  z-index: 3;
  position: relative;

  font-size: 16px;
  color: var(--white);

  border: 2px solid var(--white);
  padding: 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: border-color 0.2s ease;

  min-width: 200px;
  max-width: 300px;

  &:hover {
    border-color: var(--yellow);
  }

  &:has(.input:checked) {
    color: var(--yellow);
    border-color: var(--yellow);
  }
}

.input {
  display: none;
}
