.option {
  z-index: 3;
  position: relative;

  font-size: 16px;
  color: var(--hot-white);

  border: 2px solid var(--dim);
  padding: var(--space-xs);
  border-radius: var(--radius);
  cursor: pointer;
  transition: border-color 0.2s ease;

  min-width: 200px;
  max-width: 300px;

  &:hover {
    border-color: var(--phosphor);
  }

  &:has(.input:checked) {
    color: var(--phosphor);
    border-color: var(--phosphor);
  }
}

.input {
  display: none;
}
