.option {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.legend {
  position: relative;
  z-index: 3;
  font-size: 32px;
  padding: 0.75rem;
  width: 100%;
}

.value {
  position: relative;
  z-index: 3;
  font-size: 28px;
  width: 100%;
  color: var(--yellow);
  padding: 0.75rem 0;
}

.submit {
  position: relative;
  z-index: 3;
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
}
