.option {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.legend {
  position: relative;
  z-index: 3;
  font-size: 32px;
  padding: var(--space-xs);
  width: 100%;
}

.value {
  position: relative;
  z-index: 3;
  font-size: 28px;
  width: 100%;
  color: var(--yellow);
  padding: var(--space-xs) 0;
}

.submit {
  position: relative;
  z-index: 3;
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  align-items: center;
  justify-content: center;
}
