.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  align-items: center;
  justify-content: center;
}

.fieldset {
  border: none;
}

.legend,
.value {
  position: relative;
  z-index: 3;
  font-size: 28px;
  width: 100%;
  color: var(--yellow);
  padding-top: var(--space-xs);
}

.legend {
  font-size: 32px;
  color: white;
}
